{
  "extends": ["airbnb", "prettier/react"],
  "parser": "babel-eslint",
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": "error",
    "linebreak-style": "off",
    "comma-dangle": "off",
    "import/no-named-as-default": "warn",
    "import/no-named-as-default-member": "warn",
    "react/prop-types": "warn",
    "jsx-a11y/anchor-is-valid": "off",
    "class-methods-use-this": "off",
    "jsx-a11y/label-has-for": "off",
    "function-paren-newline": "off",
    "arrow-parens": "off",
    "arrow-body-style": "off",
    "space-before-function-paren": ["warn", "never"]
  },
  "env": {
    "browser": true,
    "es6": true
  }
}
